li {
    padding: 2rem;
    margin: 0.5rem;
    border: 1px solid black;
    background-color: aliceblue;
    color: black;
    font-family: cursive;
}


.parent {
    border: 1px solid black;
}

.paraClassRed { 
    border: 3px solid rgb(245, 9, 9);
    padding: 2rem;
}

.paraClassBlack { 
    border: 4px solid rgb(14, 14, 14);
    padding: 3rem;
}